<!DOCTYPE html>
<html lang="zh-hant-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- include('./meta.ejs') %>
  <title><%- title %></title>
  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- material icon css -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined">

  <!--swiper-->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <!-- custom css -->
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <%- include('../modules/topNavbar.ejs')%>
  <%- include('../modules/nav_scroll.ejs')%>
  <%- contents %>
  <%- include('../modules/swiper.ejs')%>
  <%- include('../modules/subscribe.ejs')%>
  <%- include('../modules/footer.ejs')%>
  <!--swiper-->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!-- vender js -->
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>